@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="info">
        <h1>FAI-Clinic</h1>
        <p>We have the best doctors in the city with great years of experience,The ﬁnest medical institutions imparting quality health care and employs a team of true experts and our main motto is aiming at giving world class treatment at affordable cost to all the class of patients</p>
    </div>
    <div class="image">
        <img src="https://www.uemo.eu/wp-content/uploads/2018/10/NPW-cartoon-1024x614_c.jpg" alt="Girl in a jacket" height="361px" width="572px" />
    </div>
</div>

<style>
    .image {
        text-align: right;
    }
    img {
        border-radius: 10%;
        margin-top: 65px;
    }
    .info {
        width: 35%;
        float: left;
        margin-top: 130px;
        text-align:left;
    }
        .info h1 {
            font-size: 44px;
            margin: 0 0 20px;
            line-height: 1.4;
            color: #5d5d5d;
        }

        .info p {
            margin: 0;
            line-height: 1.6;
            font-size: 15px;
            color: #5d5d5d;
        }
</style>